## 1-NN

In [1]:
data = {'X': [1,2,4,7,12], 'Y':[11,15,21,30,34]}

import pandas as pd
data = pd.DataFrame(data)
data

    X   Y
0   1  11
1   2  15
2   4  21
3   7  30
4  12  34

In [2]:
x = 8

for i in 1 to n do
    di = distance(x, Xi)
    
Return yi for which di is min

In [11]:
dist = []

for i in range(0, len(data)):
    dist.append(abs(x - data.X[i]))
    
index = dist.index(min(dist))
data.Y[index]

30

In [8]:
min_dist = 9999999999999999999

for i in range(0,len(data)):
    d = abs(x - data.X[i])
    
    #Find the minimum distance
    if d < min_dist:
        min_dist = d
        index = i
        
#Return yi for which di is minimum
#We have found that di is min for i = 3 -> therefore we will return y3

predicted_y = data.Y[index]
print(predicted_y)

30

In [5]:
min_dist

1

In [6]:
index

3

In [ ]:
INTRODUCTION TO STATISTICAL LEARNING (ISLR)

In [ ]:
Extend this 1NN algorithm to 2NN algorithm...