## Introduction to Pandas

#### 1. Reading a csv file

In [1]:
# Check the current working directory
import os
os.getcwd()

'C:\\Users\\Deepak Sharma\\Desktop\\Praxis\\Praxis Study Material\\Term 1\\IML'

In [2]:
# Set the working directory


#Read the cars.csv data
import pandas as pd

In [6]:
cars = pd.read_csv('cars.csv')

#### 2. Some initial steps with data

In [7]:
#A. Check the dimension of the data set
cars.info

<bound method DataFrame.info of                            Car   MPG  Cylinders  Displacement  Horsepower  \
0    Chevrolet Chevelle Malibu  18.0          8         307.0         130
1            Buick Skylark 320  15.0          8         350.0         165
2           Plymouth Satellite  18.0          8         318.0         150
3                AMC Rebel SST  16.0          8         304.0         150
4                  Ford Torino  17.0          8         302.0         140
..                         ...   ...        ...           ...         ...
401            Ford Mustang GL  27.0          4         140.0          86
402          Volkswagen Pickup  44.0          4          97.0          52
403              Dodge Rampage  32.0          4         135.0          84
404                Ford Ranger  28.0          4         120.0          79
405                 Chevy S-10  31.0          4         119.0          82

     Weight  Acceleration  Model  Origin
0      3504          12.0     70      US
1      3693          11.5     70      US
2      3436          11.0     70      US
3      3433          12.0     70      US
4      3449          10.5     70      US
..      ...           ...    ...     ...
401    2790          15.6     82      US
402    2130          24.6     82  Europe
403    2295          11.6     82      US
404    2625          18.6     82      US
405    2720          19.4     82      US

[406 rows x 9 columns]>

In [ ]:
#B. Number of rows in the data set

In [ ]:
#OR Simply

In [ ]:
#OR

In [ ]:
#C. Number of columns in the data set

In [ ]:
#OR

In [8]:
#Studying the variable types
cars.dtypes

Car              object
MPG             float64
Cylinders         int64
Displacement    float64
Horsepower        int64
Weight            int64
Acceleration    float64
Model             int64
Origin           object
dtype: object

In [9]:
#D. Getting the variable names
cars.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [ ]:
#OR

In [10]:
#E. Printing the first 5 lines of the data set
cars.head(5)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

In [11]:
#F. Printing the first 10 lines of the data set
cars.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198,4341,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220,4354,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215,4312,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190,3850,8.5,70,US

In [12]:
#G. Printing the last 5 lines of the data set
cars.tail(5)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [13]:
#H. Printing the entire data
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

#### 3. Choosing a single variable

In [14]:
#Method1 - Use Square brackets
cars['Car']

0      Chevrolet Chevelle Malibu
1              Buick Skylark 320
2             Plymouth Satellite
3                  AMC Rebel SST
4                    Ford Torino
                 ...
401              Ford Mustang GL
402            Volkswagen Pickup
403                Dodge Rampage
404                  Ford Ranger
405                   Chevy S-10
Name: Car, Length: 406, dtype: object

In [ ]:
#Method2 - Use dot (.)

#### 4. Some Basic Statistical Functions

In [16]:
#sum
cars['MPG'].sum()

9358.8

In [17]:
#mean
cars['MPG'].mean()

23.051231527093602

In [18]:
#median
cars['MPG'].median()

22.35

In [19]:
#standard deviation
cars['MPG'].std()

8.40177735227059

In [20]:
#variance
cars['MPG'].var()

70.58986267712702

In [21]:
#minimum
cars['MPG'].min()

0.0

In [22]:
#Maximum
cars['MPG'].max()

46.6

In [23]:
#25th quantile
cars['MPG'].quantile(.25)

17.0

In [24]:
#90th quantile
cars['MPG'].quantile(.90)

34.25

In [25]:
#90th, 95th and 99th percentile
cars['MPG'].quantile([.90,.95,.99])

0.90    34.250
0.95    37.000
0.99    43.385
Name: MPG, dtype: float64

In [26]:
#Inter-quartile range
Q1 = cars['MPG'].quantile(.25)
Q3 = cars['MPG'].quantile(.75)

IQR = Q3 - Q1

print('Inter-quartile range for MPG is: ', IQR)

Inter-quartile range for MPG is:  12.0

In [ ]:
#OR create a function

In [15]:
#describe
cars.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.051232,5.475369,194.779557,103.529557,2979.413793,15.519704,75.921182
std,8.401777,1.712160,104.922458,40.520659,847.004328,2.803359,3.748737
min,0.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2226.500000,13.700000,73.000000
50%,22.350000,4.000000,151.000000,93.500000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,302.000000,129.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

### Some Functions and their Descriptions

    Function	Description
---------------------------------------------
       count	Number of non-null observations
         sum	Sum of values
        mean	Mean of values
         mad	Mean absolute deviation
      median	Arithmetic median of values
         min	Minimum
         max	Maximum
        mode	Mode
         abs	Absolute Value
        prod	Product of values
         std	Unbiased standard deviation
         var	Unbiased variance
         sem	Unbiased standard error of the mean
        skew	Unbiased skewness (3rd moment)
        kurt	Unbiased kurtosis (4th moment)
    quantile	Sample quantile (value at %)
      cumsum	Cumulative sum
     cumprod	Cumulative product
      cummax	Cumulative maximum
      cummin	Cumulative minimum